ANTHROPIC_API_KEY=YOUR_API_KEY_HERE

CLERK_SECRET_KEY=CLERK_SECRET_KEY
CLERK_JWKS_URL=https://clerk.com
CORS_ORIGINS=http://localhost:5173
PINECONE_API_KEY=PINECONE_API_KEY
OPENAI_API_KEY=OPENAI_API_KEY
GROQ_API_KEY=GROQ_API_KEY
PINECONE_INDEX_NAME=guitar-rag
EMBEDDING_PROVIDER="openai"
VECTOR_STORE_PROVIDER="pinecone"
LLM_PROVIDER=groq #ollama
OLLAMA_MODEL=llama-3.1-8b-instant #llama3.1:8b 
OLLAMA_BASE_URL="http://localhost:11434"
CLAUDE_MODEL=
YOUTUBE_API_KEY=GOOGLE_YOUTUBE_API_KEY